# API reference

Every public object in {{ package_name }} is listed here. Adding a public
object means adding it to this page too; `make docs-check` fails otherwise.

```{currentmodule} {{ module_name }}
```

## Sequence statistics

```{autosummary}
:toctree: api/_autosummary
:nosignatures:

gc_content
```
